html {
  scroll-behavior: smooth;
}

#navbar {
  height: 88px;
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-content {
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 40px; 
  padding: 0 32px;
}

#navbar a {
  text-decoration: none;
  color: var(--text-h);
  font-weight: 500;
  transition: color 0.3s;
}

#navbar a:hover {
  color: var(--accent);
}

.section {
  padding: 100px 20px; 
  border-bottom: 1px solid var(--border);
  text-align: left; 
}

.credentials h2 {
  color: var(--accent)
}

.academic-work-experience h2 {
  color: var(--accent)  
}

.capstone h3 {
  color: var(--accent);
}

.card {
  background: var(--code-bg);
  padding: 24px;
  border-radius: 8px;
  margin-top: 16px;
}

.resume-content h3 {
  margin-top: 32px;
  color: var(--accent);
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
}

.resume-content p {
  margin: 12px 0;
  line-height: 1.6;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 24px 0;
}